body{
	margin:0;
	padding: 0;
}
.top{
	background-color: hsl(34, 91%, 64%);
	color: #fff;
}
.judul{
	font-size: 12pt;
    padding: 10px;
    font-weight: bold;
}
.link{
	margin-top: 20px;
}